$tamano: 1em; 	 
$fontFamily: "Zilla Slab";
$colorAzul: #343759;
$colorStrong: #ffedd5;
$center: center;
$imgFondo: "url(//img/fondoCinco.png)";
$birdColor: #11e7d7;
$birdColor2: #31bfae;
$birdColor3: #01c7be;
$feetColor: #f8c14d;
$beakColor: #f7d35d;
$beakColor2: #eb9f2d;
$birdColor3: #01c7be;